<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./inc/head')%>
</head>
<body>
    <%-include('./inc/nav')%>
    <section>
        <h1>Hakkımızda</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quam maxime itaque voluptates accusamus fugiat quod numquam quos minus doloremque.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod deleniti tempore quibusdam est vero minus dolores cum beatae optio repellendus.</p>
    </section>
</body>
</html>