<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./inc/head')%>
</head>
<body>
    <%-include('./inc/nav')%>
    <form action="" method="POST">
        <input type="text" name="username" placeholder="Kullanıcı adı">
        <input type="password" name="password" placeholder="Kullanıcı şifre">
        <input type="submit" value="Kayıt ol">
    </form>

</body>
</html>